@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  @apply
  text-black
}

.rounded-md {
  border-radius: .275rem !important;
}

.fs-btn {
  @apply
  px-3.5 py-2 rounded-md cursor-pointer tracking-normal
}
.fs-btn {
  font-size: .95rem !important;
}

.fs-btn-primary {
  @apply
  fs-btn bg-blue-700 hover:bg-blue-800 text-white
}
.fs-btn-secondary {
  @apply
  fs-btn bg-white border border-blue-700 hover:bg-blue-50 text-blue-700
}
.fs-btn-red {
  @apply
  fs-btn bg-red-50 hover:bg-red-100 text-red-700
}
.fs-btn-plain {
  @apply
  fs-btn border hover:bg-blue-50/55 hover:text-blue-700
}

.fs-sidebar-link {
  @apply
  px-5 py-2.5 hover:bg-blue-50 rounded-md mb-3 cursor-pointer
}
.fs-sidebar-link-active {
  @apply
  bg-blue-50 text-blue-700 font-medium 
}
.fs-sidebar-link-red {
  @apply
  px-5 py-2 hover:bg-red-50 hover:text-red-700 rounded-md mb-3 cursor-pointer
}

.fs-input {
  -webkit-appearance: none !important;
  appearance: none !important;
}
.fs-input {
  @apply
  border px-3.5 py-2 rounded-md cursor-pointer hover:bg-gray-50 h-10 bg-white
}

.modal-box {
  border-radius: .475rem !important;
}

.fs-badge {
  @apply
  px-2 py-1 rounded-md font-medium flex w-fit

}
.fs-badge-yellow {
  @apply
  fs-badge bg-yellow-50 text-yellow-700 
}
.fs-badge-green {
  @apply
  fs-badge bg-green-50 text-green-700
}
.fs-badge-red {
  @apply
  fs-badge bg-red-50 text-red-700
}

.fs-booking-card {
  @apply
  mx-auto h-auto max-w-2xl border rounded-md mt-0 p-3 shadow-md
}